.header {
  min-height: 74px;
  margin-top: 45px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
}

.header__image {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 857px) {
  .header {
    box-sizing: border-box;
    min-width: 320px;
    width: 100%;
    padding: 28px 167px 32px 27px;
    margin: 0;
  }
}

@media screen and (max-width: 618px) {
  .header__image {
    width: 126px;
    height: 24px;
  }
}
