.image-modal__container {
  position: relative;
  margin: auto;
}

.image-modal__preview {
  max-width: 75vw;
  max-height: 75vh;
  position: sticky;
  border-style: none;
}

.image-modal__title {
  width: 291px;
  height: 12px;
  margin: 0 0 10px 0;
  font-size: 12px;
  color: #fff;
  line-height: 14.52px;
}
