.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
  font-family: "Inter", Arial, sans-serif;
}

.profile__image {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__info {
  max-width: 415px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 16px 18px;
  margin: 22px 41.25px 21px 0;
}

.profile__title {
  width: 373px;
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile__edit-button {
  background: transparent url(../images/Vector-pen.svg) center no-repeat;
  width: 24px;
  height: 24px;
  margin: 15px 0 9px 0;
  padding: 0;
  border: 1px solid white;
  align-self: center;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__description {
  max-width: 415px;
  margin: 0;
  font-size: 18px;
  line-height: 1.21;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile__add-button {
  background: transparent url(../images/Vector-add.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 0;
  border: 1px solid white;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

@media screen and (max-width: 857px) {
  .profile {
    max-width: 320px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 auto;
    padding: 42px 19px 36px 19px;
  }

  .profile__info {
    max-width: 282px;
    justify-content: center;
    margin: 30px 0 36px 0;
    gap: 14px 10px;
  }

  .profile__image {
    margin: 0;
  }

  .profile__title {
    max-width: 196px;
    box-sizing: border-box;
    margin-left: auto;
    font-size: 22px;
    line-height: 1.21;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    border-width: 1px;
    margin: 0 15px 0 0;
    align-self: center;
  }

  .profile__description {
    max-width: 282px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
  }

  .profile__add-button {
    max-width: 282px;
    min-height: 50px;
    margin: 0 auto 0 auto;
    width: 100%;
    border-width: 2px;
    border-radius: 2px;
  }
}
